<nav class="orme sidebar right active">
    <div class="custom-menu rightSidebarCollapse">
    </div>
    <div class="widgets active">
        <h4>Widget de la page de gauche</h4>
        <ul class="widgets__list left">
            {% for currentWidget in currentUserWidgetOnLeftPage %}
                <li class="widgets__items"
                    data-id="{{ currentWidget.id }}"
                    data-type="{{ currentWidget.type }}"
                >
                    <div class="widgets__items-infos">
                        <span>Widget: {{ currentWidget.type }}</span>
                    </div>
                    <div class="widgets__items-actions">
                        <a href="#">
                            <div class="trash"></div>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <h4>Widget de la page de droite</h4>
        <ul class="widgets__list right">
            {% for currentWidget in currentUserWidgetOnRightPage %}
                <li class="widgets__items"
                    data-id="{{ currentWidget.id }}"
                    data-type="{{ currentWidget.type }}"
                >
                    <div class="widgets__items-infos">
                        <span>Widget: {{ currentWidget.type }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>