<!-- Primary Navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-secondary shadow-sm">
    <a class="navbar-brand" href="#">
        <img src="{{ asset('build/logo.png') }}" height="48" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarPrimary" aria-controls="navbarPrimary" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarPrimary">
        <!-- Desktop -->
        <ul class="navbar-nav mr-auto d-none d-md-flex">
            <li class="nav-item mx-2">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="/news">Nouveautés</a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/book">Mon journal</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex collapse">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-primary" href="#" role="button" id="dropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="avatar mr-2" 
                            {% if app.user.picture %}
                                src="{{ app.user.picture }}" 
                            {% else %}
                                src="{{ asset('build/user.png') }}" 
                            {% endif %}
                        alt="">
                    {{ app.user.firstname }} {{ app.user.lastname }}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownProfile">
                        <a class="dropdown-item" href="/account/mailbox"><i class="fa fa-envelope"></i> Mes messages</a>
                        <a class="dropdown-item" href="/account/profile"><i class="fa fa-user-circle"></i> Mon compte</a>
                        <a class="dropdown-item text-danger" href="/logout"><i class="fa fa-sign-out-alt"></i> Se déconnecter</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="btn text-primary mr-2" href="/register" role="button"><i class="fa fa-pencil-alt"></i> Inscription</a>
                    <a class="btn btn-outline-primary" href="/login" role="button"><i class="fa fa-sign-in-alt"></i> Connexion</a>
                </li>
            {% endif %}
        </ul>
        <!-- Mobile -->
        <ul class="navbar-nav mr-auto d-md-none">
            <li class="nav-item mt-2">
                <a class="nav-link" href="/"><i class="fa fa-home"></i> Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/"><i class="fa fa-file-alt"></i> Nouveautés</a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item">
                    <a class="nav-link" href="/book"><i class="fa fa-book"></i> Mon journal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account/mailbox"><i class="fa fa-envelope"></i> Mes messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account/profile"><i class="fa fa-user-circle"></i> Mon compte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/logout"><i class="fa fa-sign-out-alt"></i> Se déconnecter</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>