{% set logged = is_granted('IS_AUTHENTICATED_FULLY') %}
{% set msg = random(0, 18) %}

<!-- Primary Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="navbar-brand">
        <a href="/">
            <img class="logo" src="{{ asset('build/logo.png') }}" alt="">
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarPrimary" aria-controls="navbarPrimary" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="toggler fa fa-chevron-down"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarPrimary">
        <!-- Desktop -->
        <ul class="navbar-nav mr-auto d-none d-lg-flex">
            {% if logged %}
                {% if diary %}
                    {# Nothing to do here.. #}
                {% else %}
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/diary">Mon journal</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
        <ul class="navbar-nav flex-row ml-md-auto d-none d-lg-flex collapse">
            {% if logged %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-primary" href="#" role="button" id="dropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img style="border: solid #F1F3F7; box-shadow: 8px 8px 10px #D1D9E6;" class="avatar mr-2" 
                            {% if app.user.picture %}
                                src="{{ app.user.picture }}" 
                            {% else %}
                                src="{{ asset('build/user.png') }}" 
                            {% endif %}
                        alt="">
                    {{ app.user.firstname|length > 14 ? app.user.firstname|slice(0, 14) ~ '...' : app.user.firstname  }} 
                    {{ app.user.lastname|length > 14 ? app.user.lastname|slice(0, 14) ~ '...' : app.user.lastname  }}</a>
                    <div class="dropdown-menu dropdown-menu-right fade" aria-labelledby="dropdownProfile">
                        <a class="dropdown-item" href="/account/profile"><i class="fa fa-user fa-fw"></i> Mon compte</a>
                        <a class="dropdown-item text-danger" href="/logout"><i class="fa fa-sign-out-alt fa-fw"></i> Se déconnecter</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="btn text-primary mr-2" href="/register" role="button"><i class="fa fa-pencil-alt fa-fw"></i> Inscription</a>
                    <a class="btn btn-outline-primary" href="/login" role="button"><i class="fa fa-sign-in-alt fa-fw"></i> Connexion</a>
                </li>
            {% endif %}
        </ul>
        <!-- Mobile -->
        <ul class="navbar-nav mr-auto d-lg-none">
            {% if logged %}
                {% if diary %}
                    {# Nothing to do here.. #}
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/diary"><i class="fa fa-book fa-fw"></i> Mon journal</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/account/profile"><i class="fa fa-user fa-fw"></i> Mon compte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/logout"><i class="fa fa-sign-out-alt fa-fw"></i> Se déconnecter</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-primary" href="/register"><i class="fa fa-pencil-alt fa-fw"></i> Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" href="/login"><i class="fa fa-sign-in-alt fa-fw"></i> Connexion</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>